# History files
.Rhistory

# Session data files
*.RData

# User-specific files
.Rproj.user
.Ruserdata

# OS files
.DS_Store

# Large data files
*log_*.txt

# Old figures
/results/tmpfigs/
/results/initial_set/tmpfigs/
/results/figures/old/

# Notes
/notes/