# History files
.Rhistory

# Session data files
.RData

# User-specific files
.Rproj.user
.Ruserdata

# OS files
.DS_Store

# Large data files
*log_*.txt

# Uncompressed 
/data/msprime_simulations/cnn_sims/
/data/msprime_simulations/dup_sims/

# Old figures, models, and results
/results/tmpfigs/
/results/initial_set/tmpfigs/
/results/figures/old/
/results/models/old/
/results/dup_align/old/

# Notes
/notes/